/*
    Author: Mario Sedlak
    Web:    mase.sk
    Github: https://github.com/mase-sk
    Date:   27.5.2024
    Ver:    0_init
    
    License: You are not allowed to use this design and code
             or any part of it in your own project!
*/

/* Remove Ugly Bootstrap Styling */

textarea:hover, 
input:hover,
select:hover, 
textarea:active, 
input:active,
select:active, 
textarea:focus, 
input:focus,
select:focus,
button,
button:focus,
button:active,
button:hover,
label:focus,
a:active,
a:focus,
.btn,
.btn:active,
.btn.active
{
    border: none;
    outline: none !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}

button, ::after, ::before {
    box-sizing: border-box;
    outline: none !important;
    border: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
  
.container-row {
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
}

/* Fonts */

@font-face {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    src: url(../fonts/Poppins/Poppins-Black.ttf) format(ttf);
    font-display: swap;
}

/* Basic HTML Things */

html, body {
    height: 100%;
    width: 100%;
}

/* Body */

body {
    display: flex;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

/* Variables */

:root {
    /* Shapes & Sizes */
    --default-border-radius: .3rem;
    --default-font-size: 1rem;

    /* Colors - Global */
    --default-action-btn: rgb(247, 102, 97);
    --default-action-btn-hover: rgb(248, 84, 78); 
    --href-color: rgb(175, 175, 175); /* Link */
    --href-color-hover: rgb(216, 216, 216);
    --href-color-red-hover: rgb(246, 112, 99); /* Link Hover */
    --white-color: rgb(255, 255, 255);

    /* Colors - Light Mode */
    --main-light-color: rgb(255, 255, 255); /* 60% */
    --secondary-light-color: rgb(178, 177, 231); /* 30% */
    --accent-light-color: rgb(122, 127, 128); /* 10% */

    /* Colors - Dark Mode */
    --main-dark-color: rgb(28, 38, 52); /* 60% */
    --secondary-dark-color: rgb(13, 19, 27); /* 30% */
    --hover-secondary-dark-color: rgb(17, 25, 36);
    --accent-dark-color: rgb(74, 79, 86); /* 10% */
    --border-dark-color: rgb(23, 34, 48);
}

/* Helpers */

.border-radius {
    border-radius: var(--default-border-radius) !important;
}

/* 
   Elements 
   You can change shape, sizes etc here
*/

#body-canvas {
    width: 100%;
    height: 100%;
}

/* Main Navbar */

.main-navbar {
    height: 3.5rem;
}

.main-navbar-left {
    padding: 0;
    margin: 0;
}

.main-navbar-center {
   /* Reserved */ 
}

.main-navbar-avatar {
    width: 2.3rem;
    object-fit: cover;
    overflow: hidden;
}

/* App Navbar */

.app-navbar {
    height: 3.5rem;
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
}

.app-navbar-item {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.app-navbar-item a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4%;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.app-navbar-avatar {
    width: 2rem;
}

/* Nav links */

.nav-link-custom {
    color: var(--href-color) !important;
}

/* Dropdowns */

.dropdown-custom {
    outline: 0;
}

.dropdown-item-custom {
    text-decoration: none;
}

.user-dropdown {
    width: 15rem;
}

.mobile-dropdown {
    width: 15rem;
}

.mobile-dropdown-item {
    line-height: 2.5rem;
}

/* Buttons */

.btn-custom, .btn-custom a {
    text-decoration: none;
}

.btn-upload {
    background-color: var(--default-action-btn) !important;
}

.btn-upload:hover,
.btn-upload:active,
.btn-upload:focus {
    color: var(--href-color-hover) !important;
}

/* 
   Elements - Light Mode 
   You can change colors for light mode here
*/
html.light-mode body {

}

/* Main Navbar */

/* Dropdowns */

/* Buttons */

/* 
   Elements - Dark Mode 
   You can change colors for dark mode here
*/

html.dark-mode body {
 background-color: var(--main-dark-color);
}

/* Main Navbar */

.dark-mode .main-navbar {
    background-color: var(--secondary-dark-color);
    color: var(--href-color);
}

.dark-mode .main-navbar-avatar {
    border: 1px solid var(--border-dark-color);
}

.dark-mode .nav-link-custom:hover,
.dark-mode .nav-link-custom:active,
.dark-mode .nav-link-custom:focus {
    color: var(--href-color-hover) !important;
}

/* App Navbar */

.dark-mode .app-navbar {
    border-top: 1px solid var(--border-dark-color);
    background-color: var(--secondary-dark-color);
}

.dark-mode .app-navbar-item a{
    color: var(--href-color);
}

.dark-mode .app-navbar-item:hover a,
.dark-mode .app-navbar-item:active a {
    color: var(--href-color-hover);
}

/* Dropdowns */

.dark-mode .dropdown-custom {
    border: 1px solid var(--border-dark-color);
    background-color: var(--secondary-dark-color);
}

.dark-mode .dropdown-item-custom {
    color: var(--accent-dark-color);
}

.dark-mode .dropdown-item-custom:hover,
.dark-mode .dropdown-item-custom:active,
.dark-mode .dropdown-item-custom:focus{
    background-color: var(--hover-secondary-dark-color) !important;
}

/* Buttons */

.dark-mode .btn-custom, .btn-custom a {
    color: var(--href-color);
}

.dark-mode .btn-custom:hover a,
.dark-mode .btn-custom:active a, 
.dark-mode .btn-custom:focus a{
    color: var(--href-color-hover);
}

.dark-mode .btn-upload {
    color: var(--white-color);
}

/*
    Shrink Animation
*/

.container-lg {
    flex-shrink: 1;
    transition: all 400ms ease;
}

.container {
    flex-shrink: 1;
    transition: all 400ms ease;
}

.container-fluid {
    flex-grow: 1;
    transition: all 400ms ease;
}


/* Debug */

.border-debug {
    border: 1px solid red;
}